authorName: default
experimentName: default
#logDir needs to be full path. Default is <usr home dir>/nni/experiments
#logDir: /path/to/my/dir/nni/experiments
trialConcurrency: 1
maxExecDuration: 40m
maxTrialNum: 100
#choice: local, remote, pai
trainingServicePlatform: local
searchSpacePath: search_space.json
#choice: true, false
useAnnotation: false
tuner:
  #choice: TPE, Random, Anneal, Evolution, BatchTuner, MetisTuner
  #SMAC (SMAC should be installed through nnictl)
  builtinTunerName: TPE
  classArgs:
    #choice: maximize, minimize
    optimize_mode: minimize
assessor:
  #choice: Medianstop
  builtinAssessorName: Medianstop
  classArgs:
    #choice: maximize, minimize
    optimize_mode: minimize
trial:
  command: python -m xt_training train configs/config_example.py nni
  codeDir: .
  gpuNum: 1
localConfig:
  maxTrialNumPerGpu:  2
